//
// ====================================
// General Burger Menu styles
// =====================================
//



// vars (split in other file burgermenu/vars)
$menu-width: 273px;



// Layout styles (split in other file burgermenu/vars)
%burgermenu {
  width: $menu-width;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  @include transition(all .6s ease);
  ul {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .is-children {
    position: fixed;
    top: 0;
    bottom: 0;
    left: $menu-width;
    width: $menu-width;
    @include transition(all .6s ease);
    z-index: 2;
  }
  .has-children {
    &.opened > .is-children {
      @include transform(translate3d(-$menu-width,0,0));
    }
  }
  a {
    display: block;
  }
}

.burgermenu-left {
  @extend %burgermenu;
  @include transform(translate3d(-$menu-width,0,0));
  left: 0;
}
.burgermenu-right {
  @extend %burgermenu;
  @include transform(translate3d($menu-width,0,0));
  right: 0;
}

.page-wrapper {
  position: relative;
  z-index: 1;
  @include transition(all .6s ease);
}

.opened-left {
  overflow: hidden;
  .page-wrapper {
    overflow: hidden;
    @include transform(translate3d($menu-width,0,0));
  }
  .burgermenu-left {
    @include transform(translate3d(0,0,0));
  }
}
.opened-right {
  overflow: hidden;
  .page-wrapper {
    overflow: hidden;
    @include transform(translate3d(-$menu-width,0,0));
  }
  .burgermenu-right {
    @include transform(translate3d(0,0,0));
  }
}
