// vars
$menu-width: 273px !default;



// Layout styles
body {
  overflow-x: hidden;
}

%burgermenu {
  width: $menu-width;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
  ul {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .is-children {
    position: fixed;
    top: 0;
    bottom: 0;
    left: $menu-width;
    width: $menu-width;
    z-index: 2;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
  }
  .has-children {
    &.opened > .is-children {
      -webkit-transform: translate3d(-$menu-width, 0, 0);
              transform: translate3d(-$menu-width, 0, 0);
    }
  }
  .dropdown {
    ul {
      display: none;
    }
  }
  a {
    display: block;
  }
}

.burgermenu-left {
  @extend %burgermenu;
  -webkit-transform: translate3d(-$menu-width, 0, 0);
          transform: translate3d(-$menu-width, 0, 0);
  left: 0;
}
.burgermenu-right {
  @extend %burgermenu;
  -webkit-transform: translate3d($menu-width, 0, 0);
          transform: translate3d($menu-width, 0, 0);
  right: 0;
}

.page-wrapper {
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

.opened-left {
  overflow: hidden;
  .page-wrapper {
    overflow: hidden;
    -webkit-transform: translate3d($menu-width, 0, 0);
            transform: translate3d($menu-width, 0, 0);
  }
  .burgermenu-left {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.opened-right {
  overflow: hidden;
  .page-wrapper {
    overflow: hidden;
    -webkit-transform: translate3d(-$menu-width, 0, 0);
            transform: translate3d(-$menu-width, 0, 0);
  }
  .burgermenu-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
